<div class="container-fluid">

    <router-outlet></router-outlet>

  

  <footer>
      <div class="row" style="background-color:aquamarine">
          <div class="offset-lg-3 offset-md-3">
            <span class="font-weight-bold contact">Contact Us</span>
              <br><br>
              <span class="col-lg-2 col-md-2">
                <i class='fas fa-map-marker-alt' style='font-size:24px'></i>
                  <strong>&nbsp;&nbsp;&nbsp;&nbsp;Plot no. 14, Rajiv Gandhi Infoteck Park Hinzewadi Pune,Maharastra
                  </strong>
              </span><br><br>
              <span class="offset-lg-1 offset-md-1 col-lg-2 col-md-2">
                <i class='fas fa-phone' style='font-size:24px'></i>
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;1800-1234-5678</strong>
              </span>
              <span class="offset-lg-1 offset-md-1 col-lg-2 col-md-2">
                <i class="fa fa-envelope" style="font-size:24px"></i>
                <strong>&nbsp;&nbsp;&nbsp;&nbsp;xyzair@gmail.com</strong>
              </span>
              <br><br><br><br><br>
          </div>
         <!-- <div class="offset-lg-2 offset-md-2 col-lg-5 col-md-5">
           <span class="font-weight-bold contact">Flight Booking with XYZ Air</span><br><br>
           <span>In a short span, XYZ Air has become a frontrunner in the online flight booking space. 
             On a daily basis, thousands of travellers book cheap airline tickets with XYZ Air and 
             score the lowest airfares in India. The success of XYZ Air in the flight booking industry 
             does not only stem from its unbelievable deals and domestic air tickets, but also the convenience of
              online booking. If you are planning to travel soon, then give XYZ Air a shot and immerse yourself 
              in a flight booking experience that stands out.</span>
         </div> -->
         
      </div>
      
  </footer>

</div>